.*mp4
.*wav
**/*.wav
record_pyllface/concatenated.mp4
*.pyc
*.pyc
**/*.pyc
*.pyc
**/generated_speech/*
*.exe
*.webm
*.log
start_app/files/access_codes.json
start_app/wsgi.log
access_codes.json
local_mode.json
start_app/local_mode.json
TODO.txt
StartSapienSystemLocal.bat
nodejs_page/**/*.json
start_app/files/access_codes.json
start_app/files/db/access_code.sqlite3
start_app/files/db/user.sqlite3
start_app/files/db/access_code.sqlite3
start_app/files/db/access_code.sqlite3
start_app/files/db/access_code.sqlite3
start_app/files/db/access_code.sqlite3
start_app/sapien.wsgi
community_engagement_qa.csv
keys.py