azure-cognitiveservices-speech
deepface
emoji
faiss-cpu
flask
flask_socketio
flask_sqlalchemy
gevent-websocket
google-search-results
nltk
openai==0.28.1
opencv-python
pandas
pydub
pyglet
pylivelinkface
pymupdf
scipy
sentence-transformers
