@font-face {
    font-family: "Atkins";
    src: url("../fonts/Atkinson_Hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2");
    font-style: normal;
}
@font-face {
    font-family: "AtkinsBold";
    src: url("../fonts/Atkinson_Hyperlegible/Atkinson-Hyperlegible-Bold-102a.woff2");
    font-weight: bold;
}

body {
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: rgb(126, 126, 126);
    background-position: 0 0;
}

:root {
    --whiteboardLargeInsetHeight: 6.5rem;
    --whiteboardLargeInsetWidth: 3rem;
    --whiteboardSmallWidth: 35vw;
    --whiteboardSmallHeight: 40vh;
    
    --whiteboardBorderRadius: 25px;
}

#whiteboard {
    position: absolute;

    transition: all .5s ease-in-out;

    width: 0;
    height: 0;

    padding: 0.5rem;

    left: var(--whiteboardLargeInsetWidth);
    bottom: var(--whiteboardLargeInsetHeight);
    
    background-color: white;
    border-radius: var(--whiteboardBorderRadius);

    overflow: hidden;
}

#whiteboard.minimized {
    width: 60px;
    height: 60px;

    left: 0;
    bottom: var(--whiteboardSmallHeight);

    border-radius: 0 var(--whiteboardBorderRadius) var(--whiteboardBorderRadius) 0;

    overflow: hidden;
}

#whiteboard.minimized #whiteboardControls {
    height: 100%;
}

#whiteboard.small {
    width: 35vw;
    height: 40vh;
}

#whiteboard.large {
    width: calc(100vw - (2 * var(--whiteboardLargeInsetWidth)));
    height: calc(100vh - (2 * var(--whiteboardLargeInsetHeight)));
}

#whiteboard button {
    display: none;

    aspect-ratio: 1;
    padding: 0;

    background-color: transparent;
    border: 0;
}

#whiteboard.minimized button.small {
    display: block;
}

#whiteboard.small button.minimize, #whiteboard.small button.large {
    display: block;
}

#whiteboard.large button.small {
    display: block;
}

#whiteboardControls {
    display: flex;
    height: 10%;
}

#whiteboard.minimized #whiteboardContent {
    display: none;
}

#whiteboardContent {
    height: 90%;
    padding: 1em;
    overflow-y: scroll;

    display: flex;
    gap: 1rem;
}

#whiteboardContent > * {
    width: 100%;
}

#whiteboardContent img {
    object-fit: contain;
    object-position: top;
}

.markdownBlock {
    font-family: 'Atkins';
}
.markdownBlock code {
    border-radius: .5em;
    text-wrap: wrap;
    padding-top: 1em !important;
    min-height: 5em;
    padding-right: 5em !important;
}

.copy-button {
    position: absolute;
    top: 0;
    right: 0;

    width: 2em;
    height: 2em;
    margin: 1em;
    
    padding: 5px;
    border-radius: 6px;

    cursor: pointer;
    
    transition: background-color .1s ease;
}
.copy-button:hover {
    background-color: rgb(226, 226, 226);
}
.copy-button:active {
    background-color: rgb(220, 220, 220);
}

.copy-button svg {
    color: rgb(138, 138, 138);
}
